.zsh_sessions/C4A8728F-CE95-4338-9478-77624B1F4EBC.session
.zsh_sessions/25AA8BE6-42C3-4AB3-AECD-EE85A0B4391A.session
.zsh_sessions/_expiration_check_timestamp
.zsh_history
.zcompdump-Our 27" iMac-5.9.zwc
.zcompdump-Our 27" iMac-5.9
.python_history
